{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 img-thumbnail" src="{% static "blog/images/me.jpg" %}" alt="" width="150" height="200" />
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

<div class="container marketing text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">My latest thoughts</h1>
  <br>
    <div class="row">
  {% for post in posts %}
      <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="{{post.image}}" alt="{{post.title}}" width="140" height="140" />
        <h2 class="fw-normal">{{post.title}}</h2>
        <p>{{post.excerpt}}</p>
        <p><a class="btn btn-secondary" href="{% url "post-detail-page" post.slug %}">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
    </div>


  </div>

  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Jumbotron with icon</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        <span>
        Call to action
        </span>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Secondary link
      </button>
    </div>
  </div>

{% endblock %}
